* {
    margin: 0px !important; 
    image-rendering: pixelated;
    filter: contrast(110%) saturate(100%);
    animation: vhsFlicker 1s infinite;
}
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}
@keyframes vhsFlicker {
  0% { opacity: 1; }
  50% { opacity: 0.98; }
  100% { opacity: 1; }
}
:root{
    --white-color: white;
    --black-color: black;
    --widowsMenuColor: linear-gradient(#0c4d9c 1%,#0e73aa 6%,#1290c2,#1083c5 14%,#1075bd 19%,#0a73be 63%,#0c89d1 81%,#0d8bcf 88%,#0f8ad1,#1189d3,#137ed7,#095bc9);
}